<div id="drawer-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#donations">Donations</a></li>
    <li><a href="/#news-and-resources">News and Resources</a></li>
    <li><%= link_to 'Add New Resource', new_resource_path, class: "button green" %></li>
    <li><div class="fb-share-button" data-href="http://www.earthquake2015.info" data-layout="button"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.earthquake2015.info" data-text="Check out these crowdsourced resources to assist with the recent Afghan-Pak earthquake" data-count="none">Tweet</a>
    </li>
  </ul>
  </ul>
</div>