<div id="drawer-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#donations">Donations</a></li>
    <li><a href="/#news-and-resources">News and Resources</a></li>
    <li><%= link_to 'Add New Resource', new_resource_path, class: "button green" %></li>
    <li><div class="fb-share-button" data-href="http://www.earthquake2015.info" data-layout="button"></div></li>
  </ul>
  </ul>
</div>