<div id="drawer-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#donations">Donations</a></li>
    <li><a href="/#other-resources">Other Resources</a></li>
    <li><%= link_to 'Add New Resource', new_resource_path, class: "button green" %></li>
  </ul>
  </ul>
</div>