<footer class="global">
    <div class="row">
        <div class="columns xsmall-12 text-center">
            <div class="fb-share-button" data-href="http://www.earthquake2015.info" data-layout="button"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.earthquake2015.info" data-text="Check out these crowdsourced resources to assist with the recent Afghan-Pak earthquake" data-count="none">Tweet</a>
        </div>
    </div>
</section>