<footer class="global">
    <div class="row">
        <div class="columns xsmall-12 text-center">
            <div class="fb-share-button" data-href="http://www.earthquake2015.info" data-layout="button"></div>
        </div>
    </div>
</section>