<header id="header-nav" class="global">
    <div class="row">
        <div class="column xsmall-12">
            <h1 class="icon-merch">Earthquake 2015 Resource Dump</h1>

            <nav>
                <ul class="main-menu-container">
                    <li>Donations</li>
                    <li>Resources</li>
                </ul>
            </nav>
        </div>
    </div>
</header>