<header id="header-nav" class="global">
    <div class="row">
        <div class="column xsmall-12">
            <h1 class="icon-merch">Earthquake 2015</h1>

            <nav>
                <ul class="main-menu-container">
                    <li><a href="#donations">Donations</a></li>
                    <li><a href="#resources">Resources</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>