// ==========================================================================
// MENU DRAWER
// ==========================================================================
#page {
    position: relative;
    display: block;
    background: #fff;
    z-index: 10;
    overflow: visible;
    height: 100%;
}

#drawer-nav {
    background: $grayBlue;
    position: fixed;
    z-index: 1;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    @include prop(width, 300);
    @include prop(padding, 10, 30);
    overflow: hidden;
    
    ul {
        margin: 0;
        position: relative;
        z-index: 1;
    }

    li {
        @include prop(margin-bottom, 10);
        line-height: 1.2;
        position: relative;
        overflow: hidden;

        a {
            color: $white;
            display: block;
            @include prop(padding, 4, 0);
        }

        .button {
            @include prop(padding, 10, 20);
            text-align: center;

            &.red {
                @include fontSize(10);
                @include prop(padding, 5, 10);
                display: inline-block;
                float: right;
            }
        }
    }
}