// ==========================================================================
// Global Header
// ==========================================================================
header.global {
    @include pre(transition, all 0.3s ease);
    @include prop(top, 0);
    @include prop(left, 0);
    @include prop(right, 0);
    position: fixed;
    z-index: 99;
    @include prop(padding, 10, 0);
    box-shadow: 0 2px 2px $grayLight;
    @include pre(transition, all 0.3s ease);
    background: $white;

    .home & {
        background: transparent;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
        text-align: left;
        @include fontSize(14);
        @include prop(padding, 10, 0);

        @media only screen and (min-width: 450px) {
            letter-spacing: 4px;
            @include fontSize(24);
            @include prop(padding, 0);
        }

        a {
            color: $titleColor;
        }
    }

    nav {
        display: block;
        text-align: center;
        float: right; 

        .main-menu-container {
            float: left;

            .desktop {
                display: none;

                @media only screen and (min-width: 825px) {
                    display: block;
                }
            }

            .mobile {
                display: block;

                @media only screen and (min-width: 825px) {
                    display: none;
                }
            }
        }

        li {
            display: inline-block;
            position: relative;
        }

        a {
            @include prop(padding, 10);
            @include fontSize(16);
            transition: color 0.3s ease;
            display: inline-block;
            color: $grayDark;

            &:hover {
                color: $black;
            }
        }

        .button {
            @include prop(padding, 10, 20);
            @include fontSize(12);
            @include prop(margin, 0);
        }
    }
}