// ==========================================================================
// Global Header
// ==========================================================================
header.global {
    @include pre(transition, all 0.3s ease);
    background: transparent;
    margin: 20px 0;

    .home & {
        background: transparent;
    }

    .headerTransition & {
        height: 68px;
        padding: 15px 0;
        background: #fff;
        background: rgba(0,0,0,0.7);
    }

    h1 {
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 4px;

        &:before {
            font-size: 25px;
            margin-right: 10px;
        }
    }

    nav {
        float: right;
        display: block;

        .main-menu-container {
            float: left;
        }

        li {
            display: inline-block;
            position: relative;
        }

        a {
            @include prop(padding, 10, 20, 8, 20);
            @include fontSize(13);
            transition: color 0.3s ease;
            display: inline-block;
            color: $bodyColor;

            &:hover {
                color: $black;
            }
        }
    }
}