<section id="donations" class="main-section">
    <div class="row">
        <div class="columns xsmall-12">
            <h3 class="gamma">Donations</h3>

            <h4 class="delta">Need to Know</h4>
            <h4 class="delta">Suggested Resources</h4>
            <h4 class="delta">Efforts on the Ground</h4>

            <%= link_to 'New Resource', new_resource_path %>
        </div>
    </div>
</section>

<section id="resources" class="main-section">
    <div class="row">
        <div class="columns xsmall-12">
            <h3 class="gamma">Resources</h3>

            <h4 class="delta">Need to Know</h4>
            <h4 class="delta">Suggested Resources</h4>
            <h4 class="delta">Efforts on the Ground</h4>

            <%= link_to 'New Resource', new_resource_path %>
        </div>
    </div>
</section>
