<section class="add-resource">
    <div class="row">
        <div class="columns xsmall-12 small-10 small-centered medium-8 medium-centered">
            <h3 class="gamma">New Resource</h3>
            <%= render 'form' %>
        </div>
    </div>
</section>
